# Analysis

I will be combining datasets here and analyzing them based on my research questions.

## Loading in the data

In [1]:
# loading packages
import numpy as np
import pandas as pd
import nltk
import pickle
import matplotlib.pyplot as plt
import seaborn as sns

/opt/anaconda3/lib/python3.8/site-packages/scipy/__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.1)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [2]:
f1 = open('characters_update_df.pkl', 'rb')
characters_df = pickle.load(f1)
f1.close()

# f2 = open('conversations_df.pkl', 'rb')
# conversations_df = pickle.load(f2)
# f2.close()

f3 = open('movies_df.pkl', 'rb')
movies_df = pickle.load(f3)
f3.close

f4 = open('utterances_df.pkl', 'rb')
utterances_df = pickle.load(f4)
f4.close

In [17]:
# should i drop credit_position in initial notebook?
characters_df.head().drop('credit_position', axis=1, inplace=True)

<ipython-input-17-6fe5b9713844>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  characters_df.head().drop('credit_position', axis=1, inplace=True)

In [4]:
# conversations_df.head()

In [5]:
movies_df.head()

,movie_title,movie_year,genres,movie_decade
0,10 things i hate about you,1999,"['comedy', 'romance']",1990
1,1492: conquest of paradise,1992,"['adventure', 'biography', 'drama', 'history']",1990
2,15 minutes,2001,"['action', 'crime', 'drama', 'thriller']",2000
3,2001: a space odyssey,1968,"['adventure', 'mystery', 'sci-fi']",1960
4,48 hrs.,1982,"['action', 'comedy', 'crime', 'drama', 'thrill...",1980

In [6]:
utterances_df.head()

,line_ID,character_ID,movie_ID,character_name,utterance,sents,tokens,pos_tag,sent_count,token_count,avg_sent_length
0,L1045,u0,m0,BIANCA,They do not!,[They do not!],"[They, do, not, !]","[(They, PRP), (do, VBP), (not, RB), (!, .)]",1,4,4.0
1,L1044,u2,m0,CAMERON,They do to!,[They do to!],"[They, do, to, !]","[(They, PRP), (do, VBP), (to, TO), (!, .)]",1,4,4.0
2,L985,u0,m0,BIANCA,I hope so.,[I hope so.],"[I, hope, so, .]","[(I, PRP), (hope, VBP), (so, RB), (., .)]",1,4,4.0
3,L984,u2,m0,CAMERON,She okay?,[She okay?],"[She, okay, ?]","[(She, PRP), (okay, PRP), (?, .)]",1,3,3.0
4,L925,u0,m0,BIANCA,Let's go.,[Let's go.],"[Let, 's, go, .]","[(Let, VB), ('s, POS), (go, VB), (., .)]",1,4,4.0

## Compiling the Data

### Linguistic Analysis

In [18]:
# because I am looking at discourse, I will use the utterances data frame to load other data into

# adding gender
discourse_df = pd.merge(utterances_df, characters_df)

# adding movie year and decade
discourse_df = pd.merge(analysis_df, movies_df)

In [19]:
discourse_df.head()

,line_ID,character_ID,movie_ID,character_name,utterance,sents,tokens,pos_tag,sent_count,token_count,avg_sent_length,movie_title,gender,movie_year,genres,movie_decade
0,L1045,u0,m0,BIANCA,They do not!,[They do not!],"[They, do, not, !]","[(They, PRP), (do, VBP), (not, RB), (!, .)]",1,4,4.000000,10 things i hate about you,F,1999,"['comedy', 'romance']",1990
1,L985,u0,m0,BIANCA,I hope so.,[I hope so.],"[I, hope, so, .]","[(I, PRP), (hope, VBP), (so, RB), (., .)]",1,4,4.000000,10 things i hate about you,F,1999,"['comedy', 'romance']",1990
2,L925,u0,m0,BIANCA,Let's go.,[Let's go.],"[Let, 's, go, .]","[(Let, VB), ('s, POS), (go, VB), (., .)]",1,4,4.000000,10 things i hate about you,F,1999,"['comedy', 'romance']",1990
3,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.,[Okay -- you're gonna need to learn how to lie.],"[Okay, --, you, 're, gon, na, need, to, learn,...","[(Okay, NNP), (--, :), (you, PRP), ('re, VBP),...",1,13,13.000000,10 things i hate about you,F,1999,"['comedy', 'romance']",1990
4,L870,u0,m0,BIANCA,I'm kidding. You know how sometimes you just ...,"[I'm kidding., You know how sometimes you just...","[I, 'm, kidding, ., You, know, how, sometimes,...","[(I, PRP), ('m, VBP), (kidding, VBG), (., .), ...",3,25,8.333333,10 things i hate about you,F,1999,"['comedy', 'romance']",1990

In [60]:
discourse_df.dropna().describe()

,sent_count,token_count,avg_sent_length,movie_year,movie_decade
count,304446.000000,304446.000000,304446.000000,304446.000000,304446.000000
mean,1.695335,13.734593,7.855335,1988.107372,1983.436110
std,1.252310,14.712174,5.155574,17.140874,17.203622
min,1.000000,1.000000,1.000000,1927.000000,1920.000000
25%,1.000000,5.000000,4.500000,1984.000000,1980.000000
50%,1.000000,9.000000,7.000000,1995.000000,1990.000000
75%,2.000000,17.000000,10.000000,1999.000000,1990.000000
max,45.000000,684.000000,122.000000,2010.000000,2010.000000

#### Tokens

In [ ]:
# count() = total number of items
# first() and last() = first and last item
# mean() and median() = mean and median
# min() and max() = minimum and maximum
# std() and var() = standard deviation and variance
# mad() = mean absolute deviation
# prod() = product of all items
# sum() = sum of all items

In [29]:
discourse_df.groupby('gender').token_count.mean()
# slightly more tokens for male characters, unknown gender have the most tokens...

gender
A          13.501868
F          13.105985
M          13.876920
unknown    14.495050
Name: token_count, dtype: float64

In [30]:
discourse_df.groupby('gender').token_count.sum()
# larger sum for male, means more male characters present
# because the average token count is not that different for the genders

gender
A            79499
F          1077312
M          2589794
unknown     434837
Name: token_count, dtype: int64

In [44]:
discourse_df.groupby('gender').token_count.min()

gender
A          0
F          0
M          0
unknown    0
Name: token_count, dtype: int64

In [48]:
discourse_df.groupby('gender').token_count.max()

gender
A          225
F          368
M          684
unknown    337
Name: token_count, dtype: int64

In [45]:
discourse_df[discourse_df.token_count==0]
# 267 blank utterances...I will likely drop these

,line_ID,character_ID,movie_ID,character_name,utterance,sents,tokens,pos_tag,sent_count,token_count,avg_sent_length,movie_title,gender,movie_year,genres,movie_decade
347,L474,u5,m0,KAT,,[],[],[],0,0,NaN,10 things i hate about you,F,1999,"['comedy', 'romance']",1990
5603,L24609,u224,m14,SYKES,,[],[],[],0,0,NaN,alien nation,M,1988,"['crime', 'drama', 'sci-fi', 'thriller']",1980
36398,L239088,u1125,m74,JANOSZ,,[],[],[],0,0,NaN,ghostbusters ii,M,1989,"['action', 'adventure', 'comedy', 'fantasy', '...",1980
45857,L283548,u1356,m90,BRUCE,,[],[],[],0,0,NaN,his girl friday,M,1940,"['comedy', 'drama', 'romance']",1940
50147,L303243,u1475,m100,JOE,,[],[],[],0,0,NaN,innerspace,M,1987,"['action', 'adventure', 'comedy', 'crime', 'sc...",1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289549,L624043,u8599,m583,KLAA,,[],[],[],0,0,NaN,star trek v: the final frontier,unknown,1989,"['action', 'adventure', 'sci-fi', 'thriller']",1980
299651,L649416,u8879,m603,MICHAEL,,[],[],[],0,0,NaN,the witching hour,M,1996,"['documentary', 'short']",1990
299781,L649938,u8876,m603,LASHER,,[],[],[],0,0,NaN,the witching hour,unknown,1996,"['documentary', 'short']",1990
303420,L663421,u8980,m612,DREIBERG,,[],[],[],0,0,NaN,watchmen,M,2009,"['action', 'crime', 'fantasy', 'mystery', 'sci...",2000
304622,L666160,u9020,m615,INGA,,[],[],[],0,0,NaN,young frankenstein,F,1974,"['comedy', 'sci-fi']",1970

In [49]:
discourse_df[discourse_df.token_count==684]
# this is the longest token count per utterance
# seems like it may be a narration intro...it may be removed from analysis

,line_ID,character_ID,movie_ID,character_name,utterance,sents,tokens,pos_tag,sent_count,token_count,avg_sent_length,movie_title,gender,movie_year,genres,movie_decade
182764,L217873,u5313,m352,PARRY,Then let's begin with the story itself. It's a...,"[Then let's begin with the story itself., It's...","[Then, let, 's, begin, with, the, story, itsel...","[(Then, RB), (let, NN), ('s, POS), (begin, VB)...",26,684,26.307692,the fisher king,M,1991,"['comedy', 'drama', 'romance']",1990

#### Sentences

In [32]:
discourse_df.groupby('gender').sent_count.mean()
# the average utterance is less than two sentences long, male sentences are slightly longer

gender
A          1.672215
F          1.654562
M          1.705845
unknown    1.731124
Name: sent_count, dtype: float64

In [34]:
discourse_df.groupby('gender').sent_count.sum()
# more sentences for male characters

gender
A            9846
F          136005
M          318355
unknown     51932
Name: sent_count, dtype: int64

In [33]:
discourse_df.groupby('gender').avg_sent_length.mean()
# average sentence length across all genders does not seem to be too wide of a spread

gender
A          7.932336
F          7.669146
M          7.876876
unknown    8.216922
Name: avg_sent_length, dtype: float64

In [47]:
discourse_df.groupby('gender').sent_count.max()
# the longest sentences

gender
A          18
F          33
M          45
unknown    24
Name: sent_count, dtype: int64

In [50]:
discourse_df[discourse_df.sent_count==45]

,line_ID,character_ID,movie_ID,character_name,utterance,sents,tokens,pos_tag,sent_count,token_count,avg_sent_length,movie_title,gender,movie_year,genres,movie_decade
205014,L311961,u6045,m402,GEORGE,"Just a minute  just a minute. Now, hold on, ...","[Just a minute  just a minute., Now, hold on...","[Just, a, minute, , just, a, minute, ., Now,...","[(Just, RB), (a, DT), (minute, JJ), (, NN), ...",45,358,7.955556,it's a wonderful life,M,1946,"['drama', 'fantasy', 'romance']",1940

Both the longest sentence count and longest token count per utterance are from male characters.

#### POS

I will ignore noun and verbs, but will look for other POS to see if usage differs by gender.

The parts of speech I will look at are the following:
* RB (adverb)
* RBR (adverb comparative)
* RBS (adverb superlative)
* JJ (adjective)
* JJR (comparative adjective)
* JJS (superlative adjective)
* CC (conjunction)
* UH (interjection)

#### Lexical Items

I will look to see if these hedging words appear more in one specific gender's speech or not:
* I think
* I guess
* Maybe
* Might
* Possibly
* Perhaps

### Gender/Movie Analysis

In [20]:
# it may be interesting to see character/gender information by year/decade

gender_df = pd.merge(characters_df, movies_df)

In [21]:
gender_df.head()

,character_ID,character_name,movie_ID,movie_title,gender,credit_position,movie_year,genres,movie_decade
0,u1,BRUCE,m0,10 things i hate about you,M,?,1999,"['comedy', 'romance']",1990
1,u3,CHASTITY,m0,10 things i hate about you,F,?,1999,"['comedy', 'romance']",1990
2,u8,MISS PERKY,m0,10 things i hate about you,F,?,1999,"['comedy', 'romance']",1990
3,u10,SHARON,m0,10 things i hate about you,F,?,1999,"['comedy', 'romance']",1990
4,u0,BIANCA,m0,10 things i hate about you,F,4,1999,"['comedy', 'romance']",1990

In [57]:
gender_df[gender_df.gender=='F'].groupby('movie_decade').count()

,character_ID,character_name,movie_ID,movie_title,gender,credit_position,movie_year,genres
movie_decade,,,,,,,,
1920,4,4,4,4,4,4,4,4
1930,55,55,55,55,55,55,55,55
1940,62,62,62,62,62,62,62,62
1950,56,56,56,56,56,56,56,56
1960,59,59,59,59,59,59,59,59
1970,161,161,161,161,161,161,161,161
1980,340,340,340,340,340,340,340,340
1990,801,801,801,801,801,801,801,801
2000,500,500,500,500,500,500,500,500
2010,4,4,4,4,4,4,4,4

In [55]:
gender_df[gender_df.gender=='M'].groupby('movie_decade').count()

,character_ID,character_name,movie_ID,movie_title,gender,credit_position,movie_year,genres
movie_decade,,,,,,,,
1920,3,3,3,3,3,3,3,3
1930,117,117,117,117,117,117,117,117
1940,103,103,103,103,103,103,103,103
1950,89,89,89,89,89,89,89,89
1960,97,97,97,97,97,97,97,97
1970,328,328,328,328,328,328,328,328
1980,601,601,601,601,601,601,601,601
1990,1482,1482,1482,1482,1482,1482,1482,1482
2000,773,773,773,773,773,773,773,773
2010,6,6,6,6,6,6,6,6