# Conversations

NEW REPLACEMENT

This data frame lists the `character_ID`s for the two characters in the conversation, the `movie_ID`, and the dialogue through references to `line_ID`s.

In [1]:
# import packages
import numpy as np
import pandas as pd
import re

In [2]:
# turn off pretty printing
%pprint

Pretty printing has been turned OFF

## Loading in the data and basic summary

In [3]:
conversations_df = pd.read_csv('./data/movie_conversations.txt', sep='\s+\+\+\+\$\+\+\+\s?',
                               names=['character_ID1', 'character_ID2' , 'movie_ID', 'dialogue'], 
                               dtype={'character_ID1':'string', 'character_ID2':'string', 'movie_ID':'string'}, engine='python')

The data was all separated with ' +++$+++ ' and did not have column names. The README described what each column was in the data so I used that to create column names. Where logical, I made the index of the df the initial ID column.

In [4]:
conversations_df.shape

(83097, 4)

In [5]:
conversations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83097 entries, 0 to 83096
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   character_ID1  83097 non-null  string
 1   character_ID2  83097 non-null  string
 2   movie_ID       83097 non-null  string
 3   dialogue       83097 non-null  object
dtypes: object(1), string(3)
memory usage: 2.5+ MB

In [6]:
conversations_df.head()

  character_ID1 character_ID2 movie_ID                          dialogue
0            u0            u2       m0  ['L194', 'L195', 'L196', 'L197']
1            u0            u2       m0                  ['L198', 'L199']
2            u0            u2       m0  ['L200', 'L201', 'L202', 'L203']
3            u0            u2       m0          ['L204', 'L205', 'L206']
4            u0            u2       m0                  ['L207', 'L208']

This dataframe will only make sense when compiled with the others to read in character names, movie names, and the utterances (stored as line numbers in the dialogue column).

In [25]:
# i will split the lines in the dialogue column into separate lines to make it easier to analyze
conversations_df.explode('dialogue')

,character_ID1,character_ID2,movie_ID,dialogue
0,u0,u2,m0,"['L194', 'L195', 'L196', 'L197']"
1,u0,u2,m0,"['L198', 'L199']"
2,u0,u2,m0,"['L200', 'L201', 'L202', 'L203']"
3,u0,u2,m0,"['L204', 'L205', 'L206']"
4,u0,u2,m0,"['L207', 'L208']"
...,...,...,...,...
83092,u9028,u9031,m616,"['L666324', 'L666325', 'L666326', 'L666327']"
83093,u9028,u9031,m616,"['L666575', 'L666576']"
83094,u9030,u9034,m616,"['L666256', 'L666257']"
83095,u9030,u9034,m616,"['L666369', 'L666370', 'L666371', 'L666372']"
83096,u9030,u9034,m616,"['L666520', 'L666521', 'L666522']"