# Conversations

EXISTING

This data frame lists the `character_ID`s for the two characters in the conversation, the `movie_ID`, and the dialogue through references to `line_ID`s.

In [1]:
# import packages
import numpy as np
import pandas as pd

## Loading in the data and basic summary

In [2]:
conversations_df = pd.read_csv('./data/movie_conversations.txt', sep='\s+\+\+\+\$\+\+\+\s?',
                               names=['character1_ID', 'character2_ID' , 'movie_ID', 'dialogue'], 
                               dtype={'character1_ID':'string', 'character1_ID':'string', 'movie_ID':'string'}, engine='python')

The data was all separated with ' +++$+++ ' and did not have column names. The README described what each column was in the data so I used that to create column names. Where logical, I made the index of the df the initial ID column.

In [3]:
conversations_df.shape

(83097, 4)

In [4]:
conversations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83097 entries, 0 to 83096
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   character1_ID  83097 non-null  string
 1   character2_ID  83097 non-null  object
 2   movie_ID       83097 non-null  string
 3   dialogue       83097 non-null  object
dtypes: object(2), string(2)
memory usage: 2.5+ MB

In [5]:
conversations_df.head()

  character1_ID character2_ID movie_ID                          dialogue
0            u0            u2       m0  ['L194', 'L195', 'L196', 'L197']
1            u0            u2       m0                  ['L198', 'L199']
2            u0            u2       m0  ['L200', 'L201', 'L202', 'L203']
3            u0            u2       m0          ['L204', 'L205', 'L206']
4            u0            u2       m0                  ['L207', 'L208']

This dataframe will only make sense when compiled with the others to read in character names, movie names, and the utterances (stored as line numbers in the dialogue column).

In [6]:
# dialogue = conversations_df.dialogue.values.tolist()

Function to go through each dialogue and bring in utterance
 - take in dialogue list, output utterances per line (data frame)
 - use .loc or .iloc[index]
 - initialize empty df or list outside of for loop in func
 - append each row
 - add conversation id

In [7]:
# conversations_df['dialogue'] = conversations_df.dialogue.values.tolist()

In [8]:
# i will split the lines in the dialogue column into separate lines to make it easier to analyze
# conversations_df.explode('dialogue')

In [9]:
# conversations_simp = conversations_df[['dialogue']]

In [10]:
# conversations_simp.explode('dialogue')

## Pickling the data

In [11]:
import pickle

In [12]:
# pickle the data to use in other notebooks for further analysis
f = open('conversations_df.pkl', 'wb')
pickle.dump(conversations_df, f, -1)
f.close()

In [14]:
conversations_df.to_csv('./new_data/conversations_df.csv', header=True)